+b.about
	+e.title
		+b.H1.title Расскажите о себе словами
		
	+e.subtitle
		+b.P.subtitle Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.

	+e.FIELDSET.fieldset
		+e.TEXTAREA.textarea Привлекательной считаю возможность работать удалённо в CSSSR, так как у вас имеется немалый опыт в данном направлении. Рассчитываю использовать уже имеющиеся навыки веб-разработки, а также совершенствовать их.
