.about
	&
		padding-bottom 42px

	&__subtitle
		margin-bottom 19px

	&__textarea
		width 100%
		min-height 180px

		padding-top 8px
		padding-left 3px

		border none

		overflow hidden
		-ms-overflow-style none

		font-family $courier
		font-size 30px
		line-height 2
		color #231f20

		background transparent url(../../images/textarea_line.png) repeat-y

@media (max-width 900px)
	.about
		&__textarea
			min-height 85px

			padding-top 0

			font-size 20px
			line-height 1.4

			background transparent url(../../images/textarea_line_mobile.png) repeat-y
