+b.content
	+e.header
	
	+e.form
		+b.FORM.form(action="#")
			include ../data/data
			
			include ../skill/skill
			
			include ../about/about
			
			include ../plans/plans
			
			include ../date/date
