.checkbox
	&
		padding-bottom 40px

	&__subtitle
		margin-bottom 25px

	&__container
		display flex

	&__list
		margin-right 5.2%

		&:last-child
			margin-right 0

	&__item
		margin-bottom 10px

	&__label
		&
			display block
			font-size 21px
			font-weight 700
			line-height 1.2
			color #000

		&:hover
			cursor pointer

		& > a
			display inline-block
			border-bottom 1px solid #1f5f97

			line-height 1.1
			text-decoration none
			color #1f5f97

			&:hover
				border none

	&__input
		position absolute
		left -9999px

	&__input + label
		position relative
		padding-left 27px

	&__input + label:before
		position absolute

		top 6px
		left 0

		content ''

		sprite ($checkbox)

	&__input:checked + label:after
		position absolute

		top 10px
		left 4px

		content ''

		sprite ($checkbox_active)

@media (max-width 900px)
	.checkbox
		&__label
			font-size 18px

		&__input + label:before
			top 3px

		&__input:checked + label:after
			top 7px

@media (max-width 768px)
	.checkbox
		&__label
			font-size 16px

		&__input + label:before
			top 0

		&__input:checked + label:after
			top 4px

@media (max-width 660px)
	.checkbox
		&__container
			flex-wrap wrap

@media (max-width 410px)
	.checkbox
		&__container
			flex-direction column
