+b.checkbox
	+e.title
		+b.H1.title Расскажите о себе чекбоксами
		
	+e.subtitle
		+b.P.subtitle Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

	+e.FIELDSET.fieldset
		+e.container
			+e.UL.list
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox1")
					+e.LABEL.label(for="checkbox1") БЭМ/OOCSS
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox2")
					+e.LABEL.label(for="checkbox2") Pug (Jade)
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox3")
					+e.LABEL.label(for="checkbox3") Stylus/LESS/SASS
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox4")
					+e.LABEL.label(for="checkbox4") Работаю с SVG
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox5")
					+e.LABEL.label(for="checkbox5") Верстаю семантично
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox6")
					+e.LABEL.label(for="checkbox6") Accessibility (A11Y)
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox7")
					+e.LABEL.label(for="checkbox7") ES2015/ES2016
			
			+e.UL.list
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox8")
					+e.LABEL.label(for="checkbox8") Gulp/GRUNT
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox9")
					+e.LABEL.label(for="checkbox9") Webpack
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox10")
					+e.LABEL.label(for="checkbox10") Дружу с WebGL
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox11")
					+e.LABEL.label(for="checkbox11") jQuery
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox12")
					+e.LABEL.label(for="checkbox12") Знаю/изучаю Angular
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox13")
					+e.LABEL.label(for="checkbox13") Знаю/изучаю React
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox14")
					+e.LABEL.label(for="checkbox14") Знаю/изучаю Node.js
				
			+e.UL.list
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox15")
					+e.LABEL.label(for="checkbox15") Использую Git
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox16")
					+e.LABEL.label(for="checkbox16") С глазомером всё ок
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox17")
					+e.LABEL.label(for="checkbox17") Читаю 
						a(href="http://blog.csssr.ru" target="_blank") blog.csssr.ru
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox18")
					+e.LABEL.label(for="checkbox18") Я ленивый(-ая)
				
				+e.item
					+e.INPUT.input(type="checkbox" id="checkbox19")
					+e.LABEL.label(for="checkbox19") У меня хороший <br> английский
