+b.plans
	+e.title
		+b.title Какие у вас планы на будущее?
	
	+e.subtitle
		+b.subtitle Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.

	+e.FIELDSET.fieldset
		+e.UL.list
			+e.item
					+e.INPUT.input(type="radio" id="radio1" name="plan")
					+e.LABEL.label(for="radio1") Верстать
					
			+e.item
					+e.INPUT.input(type="radio" id="radio2" name="plan")
					+e.LABEL.label(for="radio2") Прокачиваться в JS
					
			+e.item
					+e.INPUT.input(type="radio" id="radio3" name="plan")
					+e.LABEL.label(for="radio3") Менеджерство
					
			+e.item
					+e.INPUT.input(type="radio" id="radio4" name="plan")
					+e.LABEL.label(for="radio4") Другое
