.plans
	&
		padding-bottom 88px

	&__subtitle
		margin-bottom 12px

	&__list
		display flex

	&__item
		margin-right 21px

	&__label
		display block
		font-size 20px
		font-weight 700
		line-height 1.25
		color #000

		&:hover
			cursor pointer

	&__input
		position absolute
		left -9999px

	&__input + label
		position relative
		padding-left 32px

	&__input + label:before
		position absolute

		top 0
		left 0

		content ''

		sprite ($radio)

	&__input:checked + label:after
		position absolute

		top 7px
		left 7px
		
		content ''

		sprite ($radio_active)

@media (max-width 900px)
	.plans
		&__list
			flex-direction column

		&__label
			font-size 16px

		&__item
			margin-right 0
			margin-bottom 21px

			&:last-child
				margin-bottom 0
