+b.slider
	+e.title
		+b.H1.title Уровень владения JavaScript
	
	+e.range
	
		+e.steps
			+e.pip
				+e.line
				+e.label Не владею
			
			+e.pip(style="left: 20%")
				+e.line._small
				+e.label Использую готовые решения
			
			+e.pip(style="left: 47%")
				+e.line._small
				+e.label Использую готовые решения и умею их переделывать
			
			+e.pip(style="left: 82.1%")
				+e.line
				+e.label Пишу сложный JS с нуля
