+b.FIELDSET.data
	+e.item
		+e.LABEL.label Полное ФИО
		
		+e.input-container
			+e.INPUT.input(type="text")
			
	+e.item
		+e.LABEL.label Год рождения
		
		+e.input-container
			+e.INPUT.input(type="text")
			
	+e.item
		+e.LABEL.label Место жительства
		
		+e.input-container
			+e.INPUT.input(type="text")
			
	+e.item
		+e.LABEL.label Скайп
		
		+e.input-container
			+e.INPUT.input(type="text")
			
	+e.item
		+e.LABEL.label Почта
		
		+e.input-container
			+e.INPUT.input(type="text")
