+b.FIELDSET.data
	+e.item
		+e.LABEL.label(for="name") Полное ФИО
		
		+e.input-container
			+e.INPUT.input(type="text" value="Соловей Вадим Олегович" id="name")
			
	+e.item
		+e.LABEL.label(for="birth-year") Год рождения
		
		+e.input-container
			+e.INPUT.input(type="text" value="1990" id="birth-year")
			
	+e.item
		+e.LABEL.label(for="home-place") Место жительства
		
		+e.input-container
			+e.INPUT.input(type="text" value="Молдова, г. Кишинёв" id="home-place")
			
	+e.item
		+e.LABEL.label(for="skype") Скайп
		
		+e.input-container
			+e.INPUT.input(type="text" value="solovei.vadim" id="skype")
			
	+e.item
		+e.LABEL.label(for="email") Почта
		
		+e.input-container
			+e.INPUT.input(type="text" value="chillout05@gmail.com" id="email")
