.skill
	&
		padding-left 1px
		padding-bottom 55px

	&__subtitle
		margin-bottom 25px

	&
		fieldset
			border none

	&__container
		display flex

	&__list
		margin-right 40px

		&:nth-child(2)
			margin-right 43px

		&:last-child
			margin-right 0

	&__item
		margin-bottom 10px

	&__label
		font-size 21px
		font-weight 700
		line-height 25px
		color #000

	&__label > a
		display inline-block
		border-bottom 1px solid #1f5f97

		line-height 23px
		text-decoration none
		color #1f5f97

		&:hover
			border none

	&__checkbox
		position absolute
		left -9999px

	&__checkbox + label
		position relative
		padding-left 27px

	&__checkbox + label:before
		position absolute
		content ''

		top 6px
		left 0

		sprite $checkbox

	&__checkbox:checked + label:after
		position absolute
		content ''

		top 10px
		left 4px

		sprite $checkbox_active
